<div>
  <strong><%= @survey.name %></strong>
  <ul>
  <% @questions.each do |q| %>
    <li><a href="/question/<%= q.id %>"><%= q.body %></a></li>
    <% answers = q.answers %>
      <ul>
        <% answers.each do |a| %>
        <li><%= a.body %></li>
        <% end %>
      </ul>
  <br>
  <br>      
  <% end %>
  </ul>
</div>
<div id="clear"></div>
<input id="add" class="chulada_btn add" type="button" value="Añade una Pregunta!">
<div id="clear"></div>
<form action="/new_question/<%= @survey.id%>" method="POST">
  <fieldset id="add_field">
  </fieldset>
</form>
<div id="clear"></div>
<p>
  Renombrar encuesta(
  <strong id="show"> Mostrar </strong>
  <strong id="hide"></strong>Formulario )
</p>
<br>
<%= erb :'survey/_edit', :layout => false %>